# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.pytest_cache/
.secrets.baseline

# Virtual envs
.venv/
venv/
env/

# Packages / build artifacts
*.egg-info/
dist/
build/
*.egg

# Coverage / testing
.coverage
.coverage.*
htmlcov/
.tox/

# Editors / OS
.DS_Store

# Node related
node_modules/
package-lock.json
npm-debug.log

# Logs
logs/
*.log
